assets/state-machines/timestream-export.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Timestream unload",
    "States": {
      "Timestream unload": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "${function-timestream-unload}:$LATEST",
          "Payload": {
            "id.$": "$$.Execution.Id",
            "uid.$": "$.uid",
            "datasetPreparationSfnArn.$": "$.datasetPreparationSfnArn",
            "timestampCol.$": "$.timestampCol",
            "detail": {
              "bucket": {
                "name.$": "$.detail.bucket.name"
              },
              "object": {
                "key.$": "$.detail.object.key"
              },
              "unloadObject": {
                "key.$": "$.detail.unloadObject.key"
              }
            },
            "unloadQuery.$": "$.unloadQuery",
            "assetDescription.$": "$.assetDescription"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "Prepare CSV dataset"
      },
      "Prepare CSV dataset": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${function-parquet2csv}"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException",
              "NoFilesFound"
            ],
            "MaxAttempts": 3,
            "BackoffRate": 2,
            "IntervalSeconds": 2
          }
        ],
        "Next": "Data preparation workflow"
      },
      "Data preparation workflow": {
        "Type": "Task",
        "Resource": "arn:aws:states:::states:startExecution.sync:2",
        "Parameters": {
          "StateMachineArn.$": "$.datasetPreparationSfnArn",
          "Input": {
            "detail": {
              "bucket": {
                "name.$": "$.detail.bucket.name"
              },
              "object": {
                "key.$": "$.detail.object.key"
              }
            },
            "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
          }
        },
        "End": true
      }
    }
  }